# Build Sources from CS01_RAW 

This is for building the testing framework.

In [7]:
import teradatasql
import yaml
import sys
import os
import sqlparse
import pandas as pd
import yaml

In [8]:
# get home directory
from os.path import expanduser
import pprint
home = expanduser("~")
# assume project is called dbt_clearscape
project = 'dbt_clearscape'
# read config file
with open(home + '/.dbt/profiles.yml') as file:
    config = yaml.load(file, Loader=yaml.FullLoader)
# get project config
if project not in config:
    print('project not found in config file')
project_config = config[project]
# get target
target = project_config['target']
# get connection details
project_connection = project_config['outputs'][target]
#pprint.pprint(project_connection)

Connect to teradata

In [9]:
# connect to teradata
conn = teradatasql.connect(host=project_connection['server'], user=project_connection['username'], password=project_connection['password'])

In [10]:
raw_tables = []
with conn.cursor() as cur:
    # execute sql
    cur.execute("SELECT tablename FROM dbc.tablesv WHERE databasename = 'CS01_RAW' order by tablename;")
    # get results
    rows = cur.fetchall()
    # print results
    for row in rows:
        raw_tables.append(row[0])

# get all tables
print(raw_tables)

['ageandheight', 'ageandpressure', 'aggregate_clicks', 'antiselect_test', 'attribution_sample_table1', 'attribution_sample_table2', 'banking_web_clicks', 'bank_web_clicks', 'betaEncFitTbl', 'BINARYM_COMPLEX_LEFT', 'BINARYM_COMPLEX_RIGHT', 'BINARYM_REALS_LEFT', 'BINARYM_REALS_RIGHT', 'BINARY_COMPLEX_LEFT', 'BINARY_COMPLEX_RIGHT', 'BINARY_REALS_LEFT', 'BINARY_REALS_RIGHT', 'bin_titanic_train', 'blood2ageandweight', 'boston_data', 'BuoyData2', 'BuoyData_Mix', 'BUOY_TABLE', 'cal_housing_ex_raw', 'cars_hist', 'categoryTable', 'cateogrySummaryTable', 'catTable', 'cat_titanic_train', 'clicks', 'clicks2', 'clickstream', 'col_titanic_train', 'company1_stock', 'complaints_test_tokenized', 'complaints_tokens_model', 'contingency1', 'conversion_event_table', 'convertTo_input', 'Convolve2ValidLeft', 'Convolve2ValidRight', 'CONVOLVE2_COMPLEX_LEFT', 'CONVOLVE2_COMPLEX_RIGHT', 'CONVOLVE2_REALS_LEFT', 'CONVOLVE2_REALS_RIGHT', 'credit_ex_merged', 'decision_predict_output', 'DFFT2Conv_Real_4_4', 'DFFT2_TestMatrix16', 'DFFTConv_Real_8_8', 'dfp_housing_test', 'dfp_rft_model', 'diabetes', 'diabetes_sample', 'dirichletEncFitTbl', 'dtp_iris_attribute_output', 'dtp_iris_attribute_test', 'dtw_t1', 'dtw_t2', 'example_table', 'excluding_event_table', 'features', 'fillrowid_input', 'FitInputTable', 'FitOutputTable', 'fm_blood2ageandweight', 'function_input_table', 'genData', 'getCabin', 'getFutileColumns_titanic', 'GetRows_input_table', 'getSubtitles', 'GIGEncFitTbl', 'glmp_admissions_test', 'glmp_admissions_test2', 'glmp_housing_test', 'glm_admissions_model', 'glm_admissions_model2', 'glm_housing_model', 'GQ_T1', 'HCONVOLVE_COMPLEX_RIGHT', 'HCONVOLVE_COMPLEX_RIGHTMULTI', 'hist_titanic_train', 'hist_titanic_train_dim', 'HOUSE_VALUES', 'HOUSE_VALUES2', 'housing_full', 'housing_sample', 'housing_train', 'housing_train_attribute', 'housing_train_parameter', 'housing_train_segment', 'impressions', 'imputeFit', 'INFLATION', 'input_table', 'input_tbl', 'insect_sprays', 'iris_pred', 'kmeans_initial_centroids_table', 'kmeans_input_table', 'link2', 'minmaxTable', 'model1_table', 'model2_table', 'model_table', 'mtx1', 'mtx2', 'MVDFFT8', 'mytesttable', 'nbp_iris_model', 'nbtct_complaints', 'nbtct_complaints_tokenized', 'nb_iris_input_test', 'ngram_paragraphs_input', 'NonLinearCombineFit', 'nonLinearCombineFit_input', 'nonLinearCombineFit_output', 'numApply_input', 'OceanBuoy', 'OceanBuoy2', 'OCEAN_BUOYS', 'OCEAN_BUOYS2', 'onehotencodingfit_input', 'onehotencodingfit_output', 'onehotencoding_input', 'onehotfittable', 'onehot_sparse_fit', 'onehot_sparse_input', 'onehot_titanic_dataset', 'onehot_titanic_fit_output', 'optional_event_table', 'orders1', 'Orders1_12', 'Orders1_12mf', 'ordinalFit_Embarked', 'ordinalFit_Gender', 'ordinalFit_Title', 'ordinal_titanic_dataset', 'ordinal_titanic_fit_output', 'outlierFilterFitTable', 'outlierFilterFit_input', 'person_test', 'person_train', 'playerRating', 'polynomialFeaturesFit_input', 'polynomialFit', 'ProductionData', 'ProductionData2', 'qqnorm_input_table', 'qqnorm_rankTable', 'ref_mobile_data_dense', 'RiverData', 'roc_input', 'roundto_titanic', 'rowNormalizeFit_input', 'rowNormalizeFit_output', 'Sales', 'sales_test', 'sales_train', 'ScaleFit', 'scale_input_table', 'seeds', 'sentiment_extract_input', 'sentiment_word', 'sessionize_table', 'simpleimputefit_input', 'simpleimputetransform_input', 'SMOOTHED_DATA', 'souvenirtimeseries', 'StockDataSet', 'stock_movement', 'stopwords_ex', 'stores', 'StoreSales', 'strApply_input_table', 'strsimilarity_input', 'svm_iris_input_test', 'svm_iris_model', 'target_mobile_data_dense', 'temporal_orientation_segment', 'TestDFFT8', 'TestPACF12', 'TestRiver', 'test_table', 'TE_titanic_train', 'TimeSeriesDataSetsD4', 'titanicDataset', 'titanic_train', 'Traindata', 'trans1', 'transformations', 'tv_spots', 'UnivariateStats_titanic_train', 'unpack_input', 'US_AirPass', 'ville_temperature', 'waveletTable', 'waveletTable2', 'whichminmax_titanic_dataset', 'wordEmbedModel', 'wordEmb_inputTable', 'wordEmb_inputTable2', 'XCONVOLVE_COMPLEX_LEFT', 'XCONVOLVE_COMPLEX_LEFTMULTI', 'xgboostTest', 'xgboostTrain', 'xgboost_classification_model', 'xgb_diabetes_sample', 'xgb_housing_sample']

In [11]:

#version: 2
#sources:
#    - name: clearscape_tests
#      schema: demo_user
#      config:
#        enabled: true
#      tables:
#        - name: antiselect_test
raw_file = r'C:\Users\cw171001\OneDrive - Teradata\Documents\dbt_clearscape\dbt_clearscape\dbt_clearscape\models\sources\RAW.yml'
with open(raw_file, 'w') as fh:
    fh.write('version: 2\n')
    fh.write('sources:\n')
    fh.write('  - name: CS01_RAW\n')
    fh.write('    schema: CS01_RAW\n')
    fh.write('    tables:\n')
    for table in raw_tables:

        fh.write('      - name: ' + table + '\n')

In [12]:
# now build the individual models
trg_path = r'C:\Users\cw171001\OneDrive - Teradata\Documents\dbt_clearscape\dbt_clearscape\dbt_clearscape\models\raw'
# change \\ to / for windows
trg_path = trg_path.replace('\\', '/')
if not os.path.exists(trg_path):
    os.makedirs(trg_path)
# now loop thru all raw tables and create a model for each
# based on the template
template_str = """
{{ config(
    materialized='view',
    schema='RAW_VIEW'

) }}
SELECT * FROM {{ source('CS01_RAW','test_table') }}
"""
for i,table in enumerate(raw_tables):
    print("table:",table)
    print("i:",i)
    if i > 30:
        break
    trg_file_path = trg_path + '/' + table + '.sql'
    print("trg_file_path:",trg_file_path)
    with open(trg_path + '/' + table + '.sql', 'w') as fh:
        fh.write(template_str.replace('test_table', table))

table: ageandheight
i: 0
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/ageandheight.sql
table: ageandpressure
i: 1
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/ageandpressure.sql
table: aggregate_clicks
i: 2
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/aggregate_clicks.sql
table: antiselect_test
i: 3
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/antiselect_test.sql
table: attribution_sample_table1
i: 4
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/attribution_sample_table1.sql
table: attribution_sample_table2
i: 5
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/attribution_sample_table2.sql
table: banking_web_clicks
i: 6
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/banking_web_clicks.sql
table: bank_web_clicks
i: 7
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/bank_web_clicks.sql
table: betaEncFitTbl
i: 8
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/betaEncFitTbl.sql
table: BINARYM_COMPLEX_LEFT
i: 9
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARYM_COMPLEX_LEFT.sql
table: BINARYM_COMPLEX_RIGHT
i: 10
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARYM_COMPLEX_RIGHT.sql
table: BINARYM_REALS_LEFT
i: 11
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARYM_REALS_LEFT.sql
table: BINARYM_REALS_RIGHT
i: 12
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARYM_REALS_RIGHT.sql
table: BINARY_COMPLEX_LEFT
i: 13
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARY_COMPLEX_LEFT.sql
table: BINARY_COMPLEX_RIGHT
i: 14
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARY_COMPLEX_RIGHT.sql
table: BINARY_REALS_LEFT
i: 15
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARY_REALS_LEFT.sql
table: BINARY_REALS_RIGHT
i: 16
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BINARY_REALS_RIGHT.sql
table: bin_titanic_train
i: 17
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/bin_titanic_train.sql
table: blood2ageandweight
i: 18
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/blood2ageandweight.sql
table: boston_data
i: 19
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/boston_data.sql
table: BuoyData2
i: 20
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BuoyData2.sql
table: BuoyData_Mix
i: 21
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BuoyData_Mix.sql
table: BUOY_TABLE
i: 22
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/BUOY_TABLE.sql
table: cal_housing_ex_raw
i: 23
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/cal_housing_ex_raw.sql
table: cars_hist
i: 24
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/cars_hist.sql
table: categoryTable
i: 25
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/categoryTable.sql
table: cateogrySummaryTable
i: 26
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/cateogrySummaryTable.sql
table: catTable
i: 27
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/catTable.sql
table: cat_titanic_train
i: 28
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/cat_titanic_train.sql
table: clicks
i: 29
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/clicks.sql
table: clicks2
i: 30
trg_file_path: C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/models/raw/clicks2.sql
table: clickstream
i: 31