## Copy datasets cleanup and setup files

This will copy the data set create and setup files from the teradata clearscape file . The scripts can be found in 
the documentation for each of table operators - search for one of the functions TD_KMEANS and download the pdf and sql files
and place into a directory

In [7]:
import glob
import shutil
import os
from pathlib import Path
import sqlparse
import teradatasql
import yaml

Change directories as required

In [8]:
# source directory
# get path of home directory
home_dir = Path.home()

src_dir = f'{home_dir}' + r'\OneDrive - Teradata\Documents\dbt_clearscape\dbt_clearscape\dbt_clearscape\utilities\cleanups'
# convert backslashes to forward slashes
src_dir = src_dir.replace('\\', '/')

In [9]:
# get home directory
from os.path import expanduser
import pprint
home = expanduser("~")
# assume project is called dbt_clearscape
project = 'dbt_clearscape'
# read config file
with open(home + '/.dbt/profiles.yml') as file:
    config = yaml.load(file, Loader=yaml.FullLoader)
# get project config
if project not in config:
    print('project not found in config file')
project_config = config[project]
# get target
target = project_config['target']
# get connection details
project_connection = project_config['outputs'][target]
#pprint.pprint(project_connection)

In [10]:
# connect to teradata
conn = teradatasql.connect(host=project_connection['server'], user=project_connection['username'], password=project_connection['password'])

loop through directory and process cleanups

In [11]:
files = glob.glob(f'{src_dir}/*cleanup*sql')
for file in files:
    print(file)
    # read in file 
    file_data = ""
    with open(file) as fh:
        file_data = fh.read()
    # split file into individual sql statements using sqlparse
    splits =sqlparse.split(file_data)
    # remove empty strings
    splits = [x for x in splits if x]
    # execute each sql statement
    for sql in splits:
        print(sql)
        # execute sql
        with conn.cursor() as csr:
            csr.execute("DATABASE CS01_RAW")
            csr.execute(sql, ignoreErrors=[3807,3706])

C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_01_datasets_cleanup.sql
DROP TABLE titanic_train;
DROP TABLE antiselect_test;
DROP TABLE attribution_sample_table1;
DROP TABLE attribution_sample_table2;
DROP TABLE bin_titanic_train;
DROP TABLE cat_titanic_train;
DROP TABLE col_titanic_train;
DROP TABLE company1_stock;
DROP TABLE complaints_test_tokenized;
DROP TABLE complaints_tokens_model;
DROP TABLE contingency1;
DROP TABLE conversion_event_table;
DROP TABLE convertTo_input;
DROP TABLE dfp_housing_test;
DROP TABLE dfp_rft_model;
DROP TABLE dtp_iris_attribute_output;
DROP TABLE dtp_iris_attribute_test;
DROP TABLE example_table;
DROP TABLE excluding_event_table;
DROP TABLE fillrowid_input;
DROP TABLE FitInputTable;
DROP TABLE FitOutputTable;
DROP TABLE function_input_table;
DROP TABLE GetRows_input_table;
DROP TABLE glmp_admissions_test;
DROP TABLE glmp_admissions_test2;
DROP TABLE glmp_housing_test;
DROP TABLE glm_admissions_model;
DROP TABLE glm_admissions_model2;
DROP TABLE glm_housing_model;
DROP TABLE model1_table;
DROP TABLE model2_table;
DROP TABLE mytesttable;
DROP TABLE nbp_iris_model;
DROP TABLE nb_iris_input_test;
DROP TABLE ngram_paragraphs_input;
DROP TABLE numApply_input;
DROP TABLE optional_event_table;
DROP TABLE outlierFilterFitTable;
DROP TABLE outlierFilterFit_input;
DROP TABLE polynomialFeaturesFit_input;
DROP TABLE polynomialFit;
DROP TABLE qqnorm_input_table;
DROP TABLE qqnorm_rankTable;
DROP TABLE roundto_titanic;
DROP TABLE rowNormalizeFit_input;
DROP TABLE rowNormalizeFit_output;
DROP TABLE scale_input_table;
DROP TABLE sessionize_table;
DROP TABLE simpleimputefit_input;
DROP TABLE simpleimputetransform_input;
DROP TABLE strApply_input_table;
DROP TABLE strsimilarity_input;
DROP TABLE svm_iris_input_test;
DROP TABLE svm_iris_model;
DROP TABLE transformations;
DROP TABLE UnivariateStats_titanic_train;
DROP TABLE unpack_input;
DROP TABLE ville_temperature;
DROP TABLE whichminmax_titanic_dataset;
DROP TABLE getFutileColumns_titanic;
DROP TABLE cateogrySummaryTable;
DROP TABLE decision_predict_output;
DROP TABLE kmeans_input_table;
DROP TABLE kmeans_initial_centroids_table;
DROP TABLE kmeans_model;
DROP TABLE iris_pred;
DROP TABLE additional_metrics;
DROP TABLE test_table;
DROP TABLE stopwords_ex;
DROP TABLE hist_titanic_train;
DROP TABLE hist_titanic_train_dim;
DROP TABLE onehotencodingfit_input;
DROP TABLE onehotencoding_input;
DROP TABLE onehotencodingfit_output;
DROP TABLE ordinal_titanic_dataset;
DROP TABLE ordinal_titanic_fit_output;
DROP TABLE nbtct_complaints;
DROP TABLE nbtct_complaints_tokenized;
DROP TABLE input_tbl;
DROP TABLE nonLinearCombineFit_input;
DROP TABLE nonLinearCombineFit_output;
DROP TABLE insect_sprays;
DROP TABLE sentiment_extract_input;
DROP TABLE sentiment_word;
DROP TABLE cal_housing_ex_raw;
DROP TABLE cal_housing_ex_scaled;
DROP TABLE credit_ex_merged;
DROP TABLE td_glm_cal_ex;
DROP TABLE td_glm_output_credit_ex;
DROP TABLE target_mobile_data_dense;
DROP TABLE ref_mobile_data_dense;
DROP TABLE housing_sample;
DROP TABLE diabetes_sample;
DROP TABLE bank_web_clicks;
DROP TABLE aggregate_clicks;
DROP TABLE link2;
DROP TABLE clickstream;
DROP TABLE trans1;
DROP TABLE clicks;
DROP TABLE impressions;
DROP TABLE clicks2;
DROP TABLE tv_spots;
DROP TABLE housing_full;
DROP TABLE stock_movement;
DROP TABLE rand_proj_fit_tbl_ex;
DROP TABLE decisiontree_predict;
DROP TABLE exptable1;
DROP TABLE fit_out;
DROP TABLE glmpredict_admissions;
DROP TABLE glmpredict_housing;
DROP TABLE nb_iris_predict;
DROP TABLE rf_housing_predict;
DROP TABLE scaleFitOut;
DROP TABLE simpleimputefit_out;
DROP TABLE svm_iris_predict_out;
DROP TABLE roc_input;
DROP TABLE RocTable;
DROP TABLE getSubtitles;
DROP TABLE getCabin;
DROP TABLE imputeFit;
DROP TABLE NonLinearCombineFit;
DROP TABLE ordinalFit_Title;
DROP TABLE ordinalFit_Gender;
DROP TABLE ordinalFit_Embarked;
DROP TABLE onehotfittable;
DROP TABLE ScaleFit;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_06_datasets_cleanup.sql
DROP TABLE person_train;
DROP TABLE person_test;
DROP TABLE diabetes;
DROP TABLE housing_train;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_07_datasets_cleanup.sql
DROP TABLE ordinal_titanic_dataset;
DROP TABLE catTable;
DROP TABLE ordinal_titanic_fit_output;
DROP TABLE onehot_titanic_dataset;
DROP TABLE categoryTable;
DROP TABLE onehot_titanic_fit_output;
DROP TABLE onehot_sparse_input;
DROP TABLE onehot_sparse_fit;
DROP TABLE cars_hist;
DROP TABLE minmaxTable;
DROP TABLE wordEmb_inputTable;
DROP TABLE wordEmb_inputTable2;
DROP TABLE wordEmbedModel;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_08_datasets_cleanup.sql
DROP TABLE cal_housing_ex_raw;
DROP TABLE cal_housing_ex_scaled;
DROP TABLE svm_model_cal_housing;
DROP TABLE credit_ex_merged;
DROP TABLE svm_model_credit;
DROP TABLE bank_web_clicks;
DROP TABLE aggregate_clicks;
DROP TABLE link2;
DROP TABLE clickstream;
DROP TABLE trans1;
DROP TABLE clicks;
DROP TABLE impressions;
DROP TABLE clicks2;
DROP TABLE tv_spots;
DROP TABLE banking_web_clicks;
DROP TABLE diabetes_train_scaled;
DROP TABLE diabetes_test_scaled;
DROP TABLE oneclasssvm_model;
DROP TABLE prediction;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_09_datasets_cleanup.sql
DROP TABLE housing_sample;
DROP TABLE diabetes_sample;
DROP TABLE input_table;
DROP TABLE model_table;
DROP TABLE titanicDataset;
DROP TABLE xgb_diabetes_sample;
DROP TABLE xgb_housing_sample;
DROP TABLE housing_full;
DROP TABLE xgboostTrain;
DROP TABLE xgboostTest;
DROP TABLE xgboost_classification_model;
DROP TABLE xgb_out_class;
DROP TABLE xgb_out_reg;
DROP TABLE xgb_out;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_11_datasets_cleanup.sql
DROP TABLE housing_train;
DROP TABLE housing_train_attribute;
DROP TABLE housing_train_parameter;
DROP TABLE housing_train_segment;
DROP TABLE TE_titanic_train;
DROP TABLE categoryTable;
DROP TABLE betaEncFitTbl;
DROP TABLE dirichletEncFitTbl;
DROP TABLE GIGEncFitTbl;
DROP TABLE temporal_orientation_segment;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_14_datasets_cleanup.sql
DROP TABLE cal_housing_ex_raw;
DROP TABLE cal_housing_ex_scaled;
DROP TABLE svm_model_cal_housing;
DROP TABLE credit_ex_merged;
DROP TABLE svm_model_credit;
DROP TABLE diabetes_train_scaled;
DROP TABLE oneclasssvm_model;
DROP TABLE td_glm_cal_ex;
DROP TABLE td_glm_output_credit_ex;
DROP TABLE boston_data;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_16_datasets_cleanup.sql
DROP TABLE cal_housing_ex_raw;
DROP TABLE cal_housing_ex_scaled;
DROP TABLE svm_model_cal_housing;
DROP TABLE credit_ex_merged;
DROP TABLE svm_model_credit;
DROP TABLE diabetes_train_scaled;
DROP TABLE oneclasssvm_model;
DROP TABLE td_glm_cal_ex;
DROP TABLE td_glm_output_credit_ex;
DROP TABLE boston_data;
DROP TABLE housing_train;
DROP TABLE housing_train_attribute;
DROP TABLE housing_train_parameter;
DROP TABLE housing_train_segment;
DROP TABLE TE_titanic_train;
DROP TABLE categoryTable;
DROP TABLE betaEncFitTbl;
DROP TABLE dirichletEncFitTbl;
DROP TABLE GIGEncFitTbl;
DROP TABLE temporal_orientation_segment;
DROP TABLE titanic_train;
DROP TABLE antiselect_test;
DROP TABLE attribution_sample_table1;
DROP TABLE attribution_sample_table2;
DROP TABLE bin_titanic_train;
DROP TABLE cat_titanic_train;
DROP TABLE col_titanic_train;
DROP TABLE company1_stock;
DROP TABLE complaints_test_tokenized;
DROP TABLE complaints_tokens_model;
DROP TABLE contingency1;
DROP TABLE conversion_event_table;
DROP TABLE convertTo_input;
DROP TABLE dfp_housing_test;
DROP TABLE dfp_rft_model;
DROP TABLE dtp_iris_attribute_output;
DROP TABLE dtp_iris_attribute_test;
DROP TABLE example_table;
DROP TABLE excluding_event_table;
DROP TABLE fillrowid_input;
DROP TABLE FitInputTable;
DROP TABLE FitOutputTable;
DROP TABLE function_input_table;
DROP TABLE GetRows_input_table;
DROP TABLE glmp_admissions_test;
DROP TABLE glmp_admissions_test2;
DROP TABLE glmp_housing_test;
DROP TABLE glm_admissions_model;
DROP TABLE glm_admissions_model2;
DROP TABLE glm_housing_model;
DROP TABLE model1_table;
DROP TABLE model2_table;
DROP TABLE mytesttable;
DROP TABLE nbp_iris_model;
DROP TABLE nb_iris_input_test;
DROP TABLE ngram_paragraphs_input;
DROP TABLE numApply_input;
DROP TABLE optional_event_table;
DROP TABLE outlierFilterFitTable;
DROP TABLE outlierFilterFit_input;
DROP TABLE polynomialFeaturesFit_input;
DROP TABLE polynomialFit;
DROP TABLE qqnorm_input_table;
DROP TABLE qqnorm_rankTable;
DROP TABLE roundto_titanic;
DROP TABLE rowNormalizeFit_input;
DROP TABLE rowNormalizeFit_output;
DROP TABLE scale_input_table;
DROP TABLE sessionize_table;
DROP TABLE simpleimputefit_input;
DROP TABLE simpleimputetransform_input;
DROP TABLE strApply_input_table;
DROP TABLE strsimilarity_input;
DROP TABLE svm_iris_input_test;
DROP TABLE svm_iris_model;
DROP TABLE transformations;
DROP TABLE UnivariateStats_titanic_train;
DROP TABLE unpack_input;
DROP TABLE ville_temperature;
DROP TABLE whichminmax_titanic_dataset;
DROP TABLE getFutileColumns_titanic;
DROP TABLE cateogrySummaryTable;
DROP TABLE decision_predict_output;
DROP TABLE kmeans_input_table;
DROP TABLE kmeans_initial_centroids_table;
DROP TABLE kmeans_model;
DROP TABLE iris_pred;
DROP TABLE additional_metrics;
DROP TABLE test_table;
DROP TABLE stopwords_ex;
DROP TABLE hist_titanic_train;
DROP TABLE hist_titanic_train_dim;
DROP TABLE onehotencodingfit_input;
DROP TABLE onehotencoding_input;
DROP TABLE onehotencodingfit_output;
DROP TABLE ordinal_titanic_dataset;
DROP TABLE ordinal_titanic_fit_output;
DROP TABLE nbtct_complaints;
DROP TABLE nbtct_complaints_tokenized;
DROP TABLE input_tbl;
DROP TABLE nonLinearCombineFit_input;
DROP TABLE nonLinearCombineFit_output;
DROP TABLE insect_sprays;
DROP TABLE sentiment_extract_input;
DROP TABLE sentiment_word;
DROP TABLE td_glm_output_credit_ex;
DROP TABLE target_mobile_data_dense;
DROP TABLE ref_mobile_data_dense;
DROP TABLE housing_sample;
DROP TABLE diabetes_sample;
DROP TABLE bank_web_clicks;
DROP TABLE aggregate_clicks;
DROP TABLE link2;
DROP TABLE clickstream;
DROP TABLE trans1;
DROP TABLE clicks;
DROP TABLE impressions;
DROP TABLE clicks2;
DROP TABLE tv_spots;
DROP TABLE housing_full;
DROP TABLE stock_movement;
DROP TABLE rand_proj_fit_tbl_ex;
DROP TABLE decisiontree_predict;
DROP TABLE exptable1;
DROP TABLE fit_out;
DROP TABLE glmpredict_admissions;
DROP TABLE glmpredict_housing;
DROP TABLE nb_iris_predict;
DROP TABLE rf_housing_predict;
DROP TABLE scaleFitOut;
DROP TABLE simpleimputefit_out;
DROP TABLE svm_iris_predict_out;
DROP TABLE roc_input;
DROP TABLE RocTable;
DROP TABLE getSubtitles;
DROP TABLE getCabin;
DROP TABLE imputeFit;
DROP TABLE NonLinearCombineFit;
DROP TABLE ordinalFit_Title;
DROP TABLE ordinalFit_Gender;
DROP TABLE ordinalFit_Embarked;
DROP TABLE onehotfittable;
DROP TABLE ScaleFit;
DROP TABLE scaleFitOut_cal_ex;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_17_datasets_cleanup.sql
DROP TABLE complaints_tokens_model;
DROP TABLE complaints_test_tokenized;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_18_datasets_cleanup.sql
.width 1000

DROP TABLE cal_housing_ex_raw;
DROP TABLE cal_housing_ex_scaled;
DROP TABLE credit_ex_merged;
DROP TABLE td_glm_cal_ex;
DROP TABLE td_glm_output_credit_ex;
DROP TABLE boston_data;
DROP TABLE housing_train_attribute;
DROP TABLE housing_train_parameter;
DROP TABLE housing_train_segment;
DROP TABLE sr_backward_deletion;
DROP TABLE logtable1;
DROP TABLE sr_forward_selection;
DROP TABLE sr_bidirectional;
DROP TABLE logtable2;
DROP TABLE output_glmsegment_gaussian;
DROP TABLE output_glmsegment_binomial;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_19_datasets_cleanup.sql
DROP TABLE titanic_train;
DROP TABLE scale_input_table;
DROP TABLE scale_input_partitioned;
DROP TABLE scale_parameters;
DROP TABLE scale_attributes;
DROP TABLE scaleFitOut;
DROP TABLE scaleFitOut_partitioned;
DROP TABLE kmeans_input_table;
DROP TABLE kmeans_initial_centroids_table;
DROP TABLE kmeans_input_table_2;
DROP TABLE kmeans_model;
DROP TABLE unpivoting_titanic_dataset;
DROP TABLE titanic_dataset_unpivoted;
DROP TABLE star1;
DROP TABLE cal_housing_ex_raw;
DROP TABLE cal_housing_ex_scaled;
DROP TABLE td_glm_cal_ex;
DROP TABLE credit_ex_merged;
DROP TABLE td_glm_output_credit_ex;
DROP TABLE housing_train_segment;
DROP TABLE output_glmsegment_gaussian;
DROP TABLE output_glmsegment_binomial;
DROP TABLE svm_model_cal_housing;
DROP TABLE svm_model_credit;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_20_datasets_cleanup.sql
DROP TABLE xgb_diabetes_sample;
DROP TABLE xgb_housing_sample;
DROP TABLE housing_full;
DROP TABLE xgboostTrain;
DROP TABLE xgboostTest;
DROP TABLE xgboost_classification_model;
DROP TABLE xgb_out_class;
DROP TABLE xgb_out_reg;
DROP TABLE xgb_out;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_21_datasets_cleanup.sql
DROP TABLE tfidf_input;
DROP TABLE tfidf_input_tokenized;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_22_datasets_cleanup.sql
DROP TABLE titanic_train;
DROP TABLE scale_input_table;
DROP TABLE scale_input_partitioned;
DROP TABLE scale_parameters;
DROP TABLE scale_attributes;
DROP TABLE scaleFitOut;
DROP TABLE scaleFitOut_partitioned;
DROP TABLE scale_input_sparse;
DROP TABLE scale_input_part_sparse;
DROP TABLE sparseScaleFitOut;
DROP TABLE sparseScaleFitOutPartitioned;
DROP TABLE insect_sprays;
DROP TABLE insect2Cols;
DROP TABLE example_table;
DROP TABLE boston2cols;

In [13]:
files = glob.glob(f'{src_dir}/*datasets*.sql')
# sort files by name in place
files.sort()
for file in files:
    print(file)
    # read in file 
    file_data = ""
    with open(file) as fh:
        file_data = fh.read()
    # split file into individual sql statements using sqlparse
    splits =sqlparse.split(file_data)
    # remove empty strings
    splits = [x for x in splits if x]
    # execute each sql statement
    for sql in splits:
        print(sql)
        # execute sql
        with conn.cursor() as csr:
            csr.execute("DATABASE CS01_RAW")
            csr.execute(sql, ignoreErrors=[3807,3706,3803,2802])

C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_01_datasets_cleanup.sql
DROP TABLE titanic_train;
DROP TABLE antiselect_test;
DROP TABLE attribution_sample_table1;
DROP TABLE attribution_sample_table2;
DROP TABLE bin_titanic_train;
DROP TABLE cat_titanic_train;
DROP TABLE col_titanic_train;
DROP TABLE company1_stock;
DROP TABLE complaints_test_tokenized;
DROP TABLE complaints_tokens_model;
DROP TABLE contingency1;
DROP TABLE conversion_event_table;
DROP TABLE convertTo_input;
DROP TABLE dfp_housing_test;
DROP TABLE dfp_rft_model;
DROP TABLE dtp_iris_attribute_output;
DROP TABLE dtp_iris_attribute_test;
DROP TABLE example_table;
DROP TABLE excluding_event_table;
DROP TABLE fillrowid_input;
DROP TABLE FitInputTable;
DROP TABLE FitOutputTable;
DROP TABLE function_input_table;
DROP TABLE GetRows_input_table;
DROP TABLE glmp_admissions_test;
DROP TABLE glmp_admissions_test2;
DROP TABLE glmp_housing_test;
DROP TABLE glm_admissions_model;
DROP TABLE glm_admissions_model2;
DROP TABLE glm_housing_model;
DROP TABLE model1_table;
DROP TABLE model2_table;
DROP TABLE mytesttable;
DROP TABLE nbp_iris_model;
DROP TABLE nb_iris_input_test;
DROP TABLE ngram_paragraphs_input;
DROP TABLE numApply_input;
DROP TABLE optional_event_table;
DROP TABLE outlierFilterFitTable;
DROP TABLE outlierFilterFit_input;
DROP TABLE polynomialFeaturesFit_input;
DROP TABLE polynomialFit;
DROP TABLE qqnorm_input_table;
DROP TABLE qqnorm_rankTable;
DROP TABLE roundto_titanic;
DROP TABLE rowNormalizeFit_input;
DROP TABLE rowNormalizeFit_output;
DROP TABLE scale_input_table;
DROP TABLE sessionize_table;
DROP TABLE simpleimputefit_input;
DROP TABLE simpleimputetransform_input;
DROP TABLE strApply_input_table;
DROP TABLE strsimilarity_input;
DROP TABLE svm_iris_input_test;
DROP TABLE svm_iris_model;
DROP TABLE transformations;
DROP TABLE UnivariateStats_titanic_train;
DROP TABLE unpack_input;
DROP TABLE ville_temperature;
DROP TABLE whichminmax_titanic_dataset;
DROP TABLE getFutileColumns_titanic;
DROP TABLE cateogrySummaryTable;
DROP TABLE decision_predict_output;
DROP TABLE kmeans_input_table;
DROP TABLE kmeans_initial_centroids_table;
DROP TABLE kmeans_model;
DROP TABLE iris_pred;
DROP TABLE additional_metrics;
DROP TABLE test_table;
DROP TABLE stopwords_ex;
DROP TABLE hist_titanic_train;
DROP TABLE hist_titanic_train_dim;
DROP TABLE onehotencodingfit_input;
DROP TABLE onehotencoding_input;
DROP TABLE onehotencodingfit_output;
DROP TABLE ordinal_titanic_dataset;
DROP TABLE ordinal_titanic_fit_output;
DROP TABLE nbtct_complaints;
DROP TABLE nbtct_complaints_tokenized;
DROP TABLE input_tbl;
DROP TABLE nonLinearCombineFit_input;
DROP TABLE nonLinearCombineFit_output;
DROP TABLE insect_sprays;
DROP TABLE sentiment_extract_input;
DROP TABLE sentiment_word;
DROP TABLE cal_housing_ex_raw;
DROP TABLE cal_housing_ex_scaled;
DROP TABLE credit_ex_merged;
DROP TABLE td_glm_cal_ex;
DROP TABLE td_glm_output_credit_ex;
DROP TABLE target_mobile_data_dense;
DROP TABLE ref_mobile_data_dense;
DROP TABLE housing_sample;
DROP TABLE diabetes_sample;
DROP TABLE bank_web_clicks;
DROP TABLE aggregate_clicks;
DROP TABLE link2;
DROP TABLE clickstream;
DROP TABLE trans1;
DROP TABLE clicks;
DROP TABLE impressions;
DROP TABLE clicks2;
DROP TABLE tv_spots;
DROP TABLE housing_full;
DROP TABLE stock_movement;
DROP TABLE rand_proj_fit_tbl_ex;
DROP TABLE decisiontree_predict;
DROP TABLE exptable1;
DROP TABLE fit_out;
DROP TABLE glmpredict_admissions;
DROP TABLE glmpredict_housing;
DROP TABLE nb_iris_predict;
DROP TABLE rf_housing_predict;
DROP TABLE scaleFitOut;
DROP TABLE simpleimputefit_out;
DROP TABLE svm_iris_predict_out;
DROP TABLE roc_input;
DROP TABLE RocTable;
DROP TABLE getSubtitles;
DROP TABLE getCabin;
DROP TABLE imputeFit;
DROP TABLE NonLinearCombineFit;
DROP TABLE ordinalFit_Title;
DROP TABLE ordinalFit_Gender;
DROP TABLE ordinalFit_Embarked;
DROP TABLE onehotfittable;
DROP TABLE ScaleFit;
C:/Users/cw171001/OneDrive - Teradata/Documents/dbt_clearscape/dbt_clearscape/dbt_clearscape/utilities/cleanups\17_20_03_01_datasets_setup.sql
-- ================================================================================
-- SQLMR InDB Functions: Input Tables for Examples
-- ================================================================================

-- ================================================================================
-- This file contains SQL code for creating the input tables used by the examples.
-- ================================================================================

CREATE TABLE titanic_train (
   passenger INTEGER,
   survived INTEGER,
   pclass INTEGER,
   name VARCHAR(90) CHARACTER SET LATIN NOT CASESPECIFIC,
   gender VARCHAR(10) CHARACTER SET LATIN NOT CASESPECIFIC,
   age INTEGER,
   sibsp INTEGER,
   parch INTEGER,
   ticket VARCHAR(20) CHARACTER SET LATIN NOT CASESPECIFIC,
   fare FLOAT,
   cabin VARCHAR(20) CHARACTER SET LATIN NOT CASESPECIFIC,
   embarked VARCHAR(10) CHARACTER SET LATIN NOT CASESPECIFIC)
PRIMARY INDEX ( passenger );
INSERT INTO titanic_train (1, 0, 3, 'Braund; Mr. Owen Harris', 'male', 22, 1, 0, 'A/5 21171', 7.25, '', 'S');
INSERT INTO titanic_train (2, 1, 1, 'Cumings; Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38, 1, 0, 'PC 17599', 71.2833, 'C85', 'C');
INSERT INTO titanic_train (3, 1, 3, 'Heikkinen; Miss. Laina', 'female', 26, 0, 0, 'STON/O2. 3101282', 7.925, '', 'S');
INSERT INTO titanic_train (4, 1, 1, 'Futrelle; Mrs. Jacques Heath (Lily May Peel)', 'female', 35, 1, 0, '113803', 53.1, 'C123', 'S');
INSERT INTO titanic_train (5, 0, 3, 'Allen; Mr. William Henry', 'male', 35, 0, 0, '373450', 8.05, '', 'S');
INSERT INTO titanic_train (6, 0, 3, 'Moran; Mr. James', 'male', , 0, 0, '330877', 8.4583, '', 'Q');
INSERT INTO titanic_train (7, 0, 1, 'McCarthy; Mr. Timothy J', 'male', 54, 0, 0, '17463', 51.8625, 'E46', 'S');
INSERT INTO titanic_train (8, 0, 3, 'Palsson; Master. Gosta Leonard', 'male', 2, 3, 1, '349909', 21.075, '', 'S');
INSERT INTO titanic_train (9, 1, 3, 'Johnson; Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27, 0, 2, '347742', 11.1333, '', 'S');
INSERT INTO titanic_train (10, 1, 2, 'Nasser; Mrs. Nicholas (Adele Achem)', 'female', 14, 1, 0, '237736', 30.0708, '', 'C');
INSERT INTO titanic_train (11, 1, 3, 'Sandstrom; Miss. Marguerite Rut', 'female', 4, 1, 1, 'PP 9549', 16.7, 'G6', 'S');
INSERT INTO titanic_train (12, 1, 1, 'Bonnell; Miss. Elizabeth', 'female', 58, 0, 0, '113783', 26.55, 'C103', 'S');
INSERT INTO titanic_train (13, 0, 3, 'Saundercock; Mr. William Henry', 'male', 20, 0, 0, 'A/5. 2151', 8.05, '', 'S');
INSERT INTO titanic_train (14, 0, 3, 'Andersson; Mr. Anders Johan', 'male', 39, 1, 5, '347082', 31.275, '', 'S');
INSERT INTO titanic_train (15, 0, 3, 'Vestrom; Miss. Hulda Amanda Adolfina', 'female', 14, 0, 0, '350406', 7.8542, '', 'S');
INSERT INTO titanic_train (16, 1, 2, 'Hewlett; Mrs. (Mary D Kingcome) ', 'female', 55, 0, 0, '248706', 16, '', 'S');
INSERT INTO titanic_train (17, 0, 3, 'Rice; Master. Eugene', 'male', 2, 4, 1, '382652', 29.125, '', 'Q');
INSERT INTO titanic_train (18, 1, 2, 'Williams; Mr. Charles Eugene', 'male', , 0, 0, '244373', 13, '', 'S');
INSERT INTO titanic_train (19, 0, 3, 'Vander Planke; Mrs. Julius (Emelia Maria Vandemoortele)', 'female', 31, 1, 0, '345763', 18, '', 'S');
INSERT INTO titanic_train (20, 1, 3, 'Masselmani; Mrs. Fatima', 'female', , 0, 0, '2649', 7.225, '', 'C');
INSERT INTO titanic_train (21, 0, 2, 'Fynney; Mr. Joseph J', 'male', 35, 0, 0, '239865', 26, '', 'S');
INSERT INTO titanic_train (22, 1, 2, 'Beesley; Mr. Lawrence', 'male', 34, 0, 0, '248698', 13, 'D56', 'S');
INSERT INTO titanic_train (23, 1, 3, 'McGowan; Miss. Anna "Annie"', 'female', 15, 0, 0, '330923', 8.0292, '', 'Q');
INSERT INTO titanic_train (24, 1, 1, 'Sloper; Mr. William Thompson', 'male', 28, 0, 0, '113788', 35.5, 'A6', 'S');
INSERT INTO titanic_train (25, 0, 3, 'Palsson; Miss. Torborg Danira', 'female', 8, 3, 1, '349909', 21.075, '', 'S');
INSERT INTO titanic_train (26, 1, 3, 'Asplund; Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', 38, 1, 5, '347077', 31.3875, '', 'S');
INSERT INTO titanic_train (27, 0, 3, 'Emir; Mr. Farred Chehab', 'male', , 0, 0, '2631', 7.225, '', 'C');
INSERT INTO titanic_train (28, 0, 1, 'Fortune; Mr. Charles Alexander', 'male', 19, 3, 2, '19950', 263, 'C23 C25 C27', 'S');
INSERT INTO titanic_train (29, 1, 3, 'O''Dwyer; Miss. Ellen "Nellie"', 'female', , 0, 0, '330959', 7.8792, '', 'Q');
INSERT INTO titanic_train (30, 0, 3, 'Todoroff; Mr. Lalio', 'male', , 0, 0, '349216', 7.8958, '', 'S');
INSERT INTO titanic_train (31, 0, 1, 'Uruchurtu; Don. Manuel E', 'male', 40, 0, 0, 'PC 17601', 27.7208, '', 'C');
INSERT INTO titanic_train (32, 1, 1, 'Spencer; Mrs. William Augustus (Marie Eugenie)', 'female', , 1, 0, 'PC 17569', 146.5208, 'B78', 'C');
INSERT INTO titanic_train (33, 1, 3, 'Glynn; Miss. Mary Agatha', 'female', , 0, 0, '335677', 7.75, '', 'Q');
INSERT INTO titanic_train (34, 0, 2, 'Wheadon; Mr. Edward H', 'male', 66, 0, 0, 'C.A. 24579', 10.5, '', 'S');
INSERT INTO titanic_train (35, 0, 1, 'Meyer; Mr. Edgar Joseph', 'male', 28, 1, 0, 'PC 17604', 82.1708, '', 'C');
INSERT INTO titanic_train (36, 0, 1, 'Holverson; Mr. Alexander Oskar', 'male', 42, 1, 0, '113789', 52, '', 'S');
INSERT INTO titanic_train (37, 1, 3, 'Mamee; Mr. Hanna', 'male', , 0, 0, '2677', 7.2292, '', 'C');
INSERT INTO titanic_train (38, 0, 3, 'Cann; Mr. Ernest Charles', 'male', 21, 0, 0, 'A./5. 2152', 8.05, '', 'S');
INSERT INTO titanic_train (39, 0, 3, 'Vander Planke; Miss. Augusta Maria', 'female', 18, 2, 0, '345764', 18, '', 'S');
INSERT INTO titanic_train (40, 1, 3, 'Nicola-Yarred; Miss. Jamila', 'female', 14, 1, 0, '2651', 11.2417, '', 'C');
INSERT INTO titanic_train (41, 0, 3, 'Ahlin; Mrs. Johan (Johanna Persdotter Larsson)', 'female', 40, 1, 0, '7546', 9.475, '', 'S');
INSERT INTO titanic_train (42, 0, 2, 'Turpin; Mrs. William John Robert (Dorothy Ann Wonnacott)', 'female', 27, 1, 0, '11668', 21, '', 'S');
INSERT INTO titanic_train (43, 0, 3, 'Kraeff; Mr. Theodor', 'male', , 0, 0, '349253', 7.8958, '', 'C');
INSERT INTO titanic_train (44, 1, 2, 'Laroche; Miss. Simonne Marie Anne Andree', 'female', 3, 1, 2, 'SC/Paris 2123', 41.5792, '', 'C');
INSERT INTO titanic_train (45, 1, 3, 'Devaney; Miss. Margaret Delia', 'female', 19, 0, 0, '330958', 7.8792, '', 'Q');
INSERT INTO titanic_train (46, 0, 3, 'Rogers; Mr. William John', 'male', , 0, 0, 'S.C./A.4. 23567', 8.05, '', 'S');
INSERT INTO titanic_train (47, 0, 3, 'Lennon; Mr. Denis', 'male', , 1, 0, '370371', 15.5, '', 'Q');
INSERT INTO titanic_train (48, 1, 3, 'O''Driscoll; Miss. Bridget', 'female', , 0, 0, '14311', 7.75, '', 'Q');
INSERT INTO titanic_train (49, 0, 3, 'Samaan; Mr. Youssef', 'male', , 2, 0, '2662', 21.6792, '', 'C');
INSERT INTO titanic_train (50, 0, 3, 'Arnold-Franchi; Mrs. Josef (Josefine Franchi)', 'female', 18, 1, 0, '349237', 17.8, '', 'S');
INSERT INTO titanic_train (51, 0, 3, 'Panula; Master. Juha Niilo', 'male', 7, 4, 1, '3101295', 39.6875, '', 'S');
INSERT INTO titanic_train (52, 0, 3, 'Nosworthy; Mr. Richard Cater', 'male', 21, 0, 0, 'A/4. 39886', 7.8, '', 'S');
INSERT INTO titanic_train (53, 1, 1, 'Harper; Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49, 1, 0, 'PC 17572', 76.7292, 'D33', 'C');
INSERT INTO titanic_train (54, 1, 2, 'Faunthorpe; Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', 29, 1, 0, '2926', 26, '', 'S');
INSERT INTO titanic_train (55, 0, 1, 'Ostby; Mr. Engelhart Cornelius', 'male', 65, 0, 1, '113509', 61.9792, 'B30', 'C');
INSERT INTO titanic_train (56, 1, 1, 'Woolner; Mr. Hugh', 'male', , 0, 0, '19947', 35.5, 'C52', 'S');
INSERT INTO titanic_train (57, 1, 2, 'Rugg; Miss. Emily', 'female', 21, 0, 0, 'C.A. 31026', 10.5, '', 'S');
INSERT INTO titanic_train (58, 0, 3, 'Novel; Mr. Mansouer', 'male', 28, 0, 0, '2697', 7.2292, '', 'C');
INSERT INTO titanic_train (59, 1, 2, 'West; Miss. Constance Mirium', 'female', 5, 1, 2, 'C.A. 34651', 27.75, '', 'S');
INSERT INTO titanic_train (60, 0, 3, 'Goodwin; Master. William Frederick', 'male', 11, 5, 2, 'CA 2144', 46.9, '', 'S');
INSERT INTO titanic_train (61, 0, 3, 'Sirayanian; Mr. Orsen', 'male', 22, 0, 0, '2669', 7.2292, '', 'C');
INSERT INTO titanic_train (62, 1, 1, 'Icard; Miss. Amelie', 'female', 38, 0, 0, '113572', 80, 'B28', '');
INSERT INTO titanic_train (63, 0, 1, 'Harris; Mr. Henry Birkhardt', 'male', 45, 1, 0, '36973', 83.475, 'C83', 'S');
INSERT INTO titanic_train (64, 0, 3, 'Skoog; Master. Harald', 'male', 4, 3, 2, '347088', 27.9, '', 'S');
INSERT INTO titanic_train (65, 0, 1, 'Stewart; Mr. Albert A', 'male', , 0, 0, 'PC 17605', 27.7208, '', 'C');
INSERT INTO titanic_train (66, 1, 3, 'Moubarek; Master. Gerios', 'male', , 1, 1, '2661', 15.2458, '', 'C');
INSERT INTO titanic_train (67, 1, 2, 'Nye; Mrs. (Elizabeth Ramell)', 'female', 29, 0, 0, 'C.A. 29395', 10.5, 'F33', 'S');
INSERT INTO titanic_train (68, 0, 3, 'Crease; Mr. Ernest James', 'male', 19, 0, 0, 'S.P. 3464', 8.1583, '', 'S');
INSERT INTO titanic_train (69, 1, 3, 'Andersson; Miss. Erna Alexandra', 'female', 17, 4, 2, '3101281', 7.925, '', 'S');
INSERT INTO titanic_train (70, 0, 3, 'Kink; Mr. Vincenz', 'male', 26, 2, 0, '315151', 8.6625, '', 'S');
INSERT INTO titanic_train (71, 0, 2, 'Jenkin; Mr. Stephen Curnow', 'male', 32, 0, 0, 'C.A. 33111', 10.5, '', 'S');
INSERT INTO titanic_train (72, 0, 3, 'Goodwin; Miss. Lillian Amy', 'female', 16, 5, 2, 'CA 2144', 46.9, '', 'S');
INSERT INTO titanic_train (73, 0, 2, 'Hood; Mr. Ambrose Jr', 'male', 21, 0, 0, 'S.O.C. 14879', 73.5, '', 'S');
INSERT INTO titanic_train (74, 0, 3, 'Chronopoulos; Mr. Apostolos', 'male', 26, 1, 0, '2680', 14.4542, '', 'C');
INSERT INTO titanic_train (75, 1, 3, 'Bing; Mr. Lee', 'male', 32, 0, 0, '1601', 56.4958, '', 'S');
INSERT INTO titanic_train (76, 0, 3, 'Moen; Mr. Sigurd Hansen', 'male', 25, 0, 0, '348123', 7.65, 'F G73', 'S');
INSERT INTO titanic_train (77, 0, 3, 'Staneff; Mr. Ivan', 'male', , 0, 0, '349208', 7.8958, '', 'S');
INSERT INTO titanic_train (78, 0, 3, 'Moutal; Mr. Rahamin Haim', 'male', , 0, 0, '374746', 8.05, '', 'S');
INSERT INTO titanic_train (79, 1, 2, 'Caldwell; Master. Alden Gates', 'male', 0, 0, 2, '248738', 29, '', 'S');
INSERT INTO titanic_train (80, 1, 3, 'Dowdell; Miss. Elizabeth', 'female', 30, 0, 0, '364516', 12.475, '', 'S');
INSERT INTO titanic_train (81, 0, 3, 'Waelens; Mr. Achille', 'male', 22, 0, 0, '345767', 9, '', 'S');
INSERT INTO titanic_train (82, 1, 3, 'Sheerlinck; Mr. Jan Baptist', 'male', 29, 0, 0, '345779', 9.5, '', 'S');
INSERT INTO titanic_train (83, 1, 3, 'McDermott; Miss. Brigdet Delia', 'female', , 0, 0, '330932', 7.7875, '', 'Q');
INSERT INTO titanic_train (84, 0, 1, 'Carrau; Mr. Francisco M', 'male', 28, 0, 0, '113059', 47.1, '', 'S');
INSERT INTO titanic_train (85, 1, 2, 'Ilett; Miss. Bertha', 'female', 17, 0, 0, 'SO/C 14885', 10.5, '', 'S');
INSERT INTO titanic_train (86, 1, 3, 'Backstrom; Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', 33, 3, 0, '3101278', 15.85, '', 'S');
INSERT INTO titanic_train (87, 0, 3, 'Ford; Mr. William Neal', 'male', 16, 1, 3, 'W./C. 6608', 34.375, '', 'S');
INSERT INTO titanic_train (88, 0, 3, 'Slocovski; Mr. Selman Francis', 'male', , 0, 0, 'SOTON/OQ 392086', 8.05, '', 'S');
INSERT INTO titanic_train (89, 1, 1, 'Fortune; Miss. Mabel Helen', 'female', 23, 3, 2, '19950', 263, 'C23 C25 C27', 'S');
INSERT INTO titanic_train (90, 0, 3, 'Celotti; Mr. Francesco', 'male', 24, 0, 0, '343275', 8.05, '', 'S');
INSERT INTO titanic_train (91, 0, 3, 'Christmann; Mr. Emil', 'male', 29, 0, 0, '343276', 8.05, '', 'S');
INSERT INTO titanic_train (92, 0, 3, 'Andreasson; Mr. Paul Edvin', 'male', 20, 0, 0, '347466', 7.8542, '', 'S');
INSERT INTO titanic_train (93, 0, 1, 'Chaffee; Mr. Herbert Fuller', 'male', 46, 1, 0, 'W.E.P. 5734', 61.175, 'E31', 'S');
INSERT INTO titanic_train (94, 0, 3, 'Dean; Mr. Bertram Frank', 'male', 26, 1, 2, 'C.A. 2315', 20.575, '', 'S');
INSERT INTO titanic_train (95, 0, 3, 'Coxon; Mr. Daniel', 'male', 59, 0, 0, '364500', 7.25, '', 'S');
INSERT INTO titanic_train (96, 0, 3, 'Shorney; Mr. Charles Joseph', 'male', , 0, 0, '374910', 8.05, '', 'S');
INSERT INTO titanic_train (97, 0, 1, 'Goldschmidt; Mr. George B', 'male', 71, 0, 0, 'PC 17754', 34.6542, 'A5', 'C');
INSERT INTO titanic_train (98, 1, 1, 'Greenfield; Mr. William Bertram', 'male', 23, 0, 1, 'PC 17759', 63.3583, 'D10 D12', 'C');
INSERT INTO titanic_train (99, 1, 2, 'Doling; Mrs. John T (Ada Julia Bone)', 'female', 34, 0, 1, '231919', 23, '', 'S');
INSERT INTO titanic_train (100, 0, 2, 'Kantor; Mr. Sinai', 'male', 34, 1, 0, '244367', 26, '', 'S');
INSERT INTO titanic_train (101, 0, 3, 'Petranec; Miss. Matilda', 'female', 28, 0, 0, '349245', 7.8958, '', 'S');
INSERT INTO titanic_train (102, 0, 3, 'Petroff; Mr. Pastcho ("Pentcho")', 'male', , 0, 0, '349215', 7.8958, '', 'S');
INSERT INTO titanic_train (103, 0, 1, 'White; Mr. Richard Frasar', 'male', 21, 0, 1, '35281', 77.2875, 'D26', 'S');
INSERT INTO titanic_train (104, 0, 3, 'Johansson; Mr. Gustaf Joel', 'male', 33, 0, 0, '7540', 8.6542, '', 'S');
INSERT INTO titanic_train (105, 0, 3, 'Gustafsson; Mr. Anders Vilhelm', 'male', 37, 2, 0, '3101276', 7.925, '', 'S');
INSERT INTO titanic_train (106, 0, 3, 'Mionoff; Mr. Stoytcho', 'male', 28, 0, 0, '349207', 7.8958, '', 'S');
INSERT INTO titanic_train (107, 1, 3, 'Salkjelsvik; Miss. Anna Kristine', 'female', 21, 0, 0, '343120', 7.65, '', 'S');
INSERT INTO titanic_train (108, 1, 3, 'Moss; Mr. Albert Johan', 'male', , 0, 0, '312991', 7.775, '', 'S');
INSERT INTO titanic_train (109, 0, 3, 'Rekic; Mr. Tido', 'male', 38, 0, 0, '349249', 7.8958, '', 'S');
INSERT INTO titanic_train (110, 1, 3, 'Moran; Miss. Bertha', 'female', , 1, 0, '371110', 24.15, '', 'Q');
INSERT INTO titanic_train (111, 0, 1, 'Porter; Mr. Walter Chamberlain', 'male', 47, 0, 0, '110465', 52, 'C110', 'S');
INSERT INTO titanic_train (112, 0, 3, 'Zabour; Miss. Hileni', 'female', 14, 1, 0, '2665', 14.4542, '', 'C');
INSERT INTO titanic_train (113, 0, 3, 'Barton; Mr. David John', 'male', 22, 0, 0, '324669', 8.05, '', 'S');
INSERT INTO titanic_train (114, 0, 3, 'Jussila; Miss. Katriina', 'female', 20, 1, 0, '4136', 9.825, '', 'S');
INSERT INTO titanic_train (115, 0, 3, 'Attalah; Miss. Malake', 'female', 17, 0, 0, '2627', 14.4583, '', 'C');
INSERT INTO titanic_train (116, 0, 3, 'Pekoniemi; Mr. Edvard', 'male', 21, 0, 0, 'STON/O 2. 3101294', 7.925, '', 'S');
INSERT INTO titanic_train (117, 0, 3, 'Connors; Mr. Patrick', 'male', 70, 0, 0, '370369', 7.75, '', 'Q');
INSERT INTO titanic_train (118, 0, 2, 'Turpin; Mr. William John Robert', 'male', 29, 1, 0, '11668', 21, '', 'S');
INSERT INTO titanic_train (119, 0, 1, 'Baxter; Mr. Quigg Edmond', 'male', 24, 0, 1, 'PC 17558', 247.5208, 'B58 B60', 'C');
INSERT INTO titanic_train (120, 0, 3, 'Andersson; Miss. Ellis Anna Maria', 'female', 2, 4, 2, '347082', 31.275, '', 'S');
INSERT INTO titanic_train (121, 0, 2, 'Hickman; Mr. Stanley George', 'male', 21, 2, 0, 'S.O.C. 14879', 73.5, '', 'S');
INSERT INTO titanic_train (122, 0, 3, 'Moore; Mr. Leonard Charles', 'male', , 0, 0, 'A4. 54510', 8.05, '', 'S');
INSERT INTO titanic_train (123, 0, 2, 'Nasser; Mr. Nicholas', 'male', 32, 1, 0, '237736', 30.0708, '', 'C');
INSERT INTO titanic_train (124, 1, 2, 'Webber; Miss. Susan', 'female', 32, 0, 0, '27267', 13, 'E101', 'S');
INSERT INTO titanic_train (125, 0, 1, 'White; Mr. Percival Wayland', 'male', 54, 0, 1, '35281', 77.2875, 'D26', 'S');
INSERT INTO titanic_train (126, 1, 3, 'Nicola-Yarred; Master. Elias', 'male', 12, 1, 0, '2651', 11.2417, '', 'C');
INSERT INTO titanic_train (127, 0, 3, 'McMahon; Mr. Martin', 'male', , 0, 0, '370372', 7.75, '', 'Q');
INSERT INTO titanic_train (128, 1, 3, 'Madsen; Mr. Fridtjof Arne', 'male', 24, 0, 0, 'C 17369', 7.1417, '', 'S');
INSERT INTO titanic_train (129, 1, 3, 'Peter; Miss. Anna', 'female', , 1, 1, '2668', 22.3583, 'F E69', 'C');
INSERT INTO titanic_train (130, 0, 3, 'Ekstrom; Mr. Johan', 'male', 45, 0, 0, '347061', 6.975, '', 'S');

OperationalError: [Version 20.0.0.19] [Session 1046] [Teradata SQL Driver] Failure sending Start Request message
 at gosqldriver/teradatasql.formatError ErrorUtil.go:91
 at gosqldriver/teradatasql.(*teradataConnection).makeDriverError ErrorUtil.go:193
 at gosqldriver/teradatasql.(*teradataConnection).socketSendMessage NetworkIO.go:291
 at gosqldriver/teradatasql.(*teradataConnection).socketSendAndReceiveContext NetworkIO.go:70
 at gosqldriver/teradatasql.(*teradataConnection).sendAndReceiveContext NetworkIO.go:50
 at gosqldriver/teradatasql.(*TeradataRows).executeSQLRequest TeradataRows.go:846
 at gosqldriver/teradatasql.newTeradataRows TeradataRows.go:720
 at gosqldriver/teradatasql.(*teradataStatement).QueryContext TeradataStatement.go:122
 at gosqldriver/teradatasql.(*teradataConnection).QueryContext TeradataConnection.go:1225
 at database/sql.ctxDriverQuery ctxutil.go:48
 at database/sql.(*DB).queryDC.func1 sql.go:1776
 at database/sql.withLock sql.go:3530
 at database/sql.(*DB).queryDC sql.go:1771
 at database/sql.(*Conn).QueryContext sql.go:2027
 at main.createRows goside.go:1080
 at main.goCreateRows goside.go:959
 at _cgoexp_e3ee842aae7c_goCreateRows _cgo_gotypes.go:414
 at runtime.cgocallbackg1 cgocall.go:403
 at runtime.cgocallbackg cgocall.go:322
 at runtime.cgocallback asm_amd64.s:1079
 at runtime.goexit asm_amd64.s:1695
Caused by write tcp 192.168.0.109:52831->34.159.110.175:443: wsasend: An existing connection was forcibly closed by the remote host.